In [1]:
import pandas as pd
housing = pd.read_csv('housing_sample.csv')
housing.head(3)

,Neighborhood,Exterior1st,YearBuilt,LotFrontage,GrLivArea,GarageArea,BedroomAbvGr,FullBath,OverallQual,HeatingQC,SalePrice
0,CollgCr,VinylSd,2003,65.0,1710,548,3,2,7,Ex,208500
1,Veenker,MetalSd,1976,80.0,1262,460,3,2,6,Ex,181500
2,CollgCr,VinylSd,2001,68.0,1786,608,3,2,7,Ex,223500

In [2]:
mean_price = housing['SalePrice'].mean()
mean_price

180921.19589041095

In [4]:
price_sqft = (housing['SalePrice']/housing['GrLivArea']).mean()
price_sqft

120.57287807326834

In [8]:
grp_price = [housing.query('GrLivArea < 1500')['SalePrice'].mean(), 
             housing.query('1500 <= GrLivArea <= 2000')['SalePrice'].mean(),
             housing.query('GrLivArea > 2000')['SalePrice'].mean()]
grp_price

[139045.93222506394, 205017.30818965516, 281696.2429906542]

In [30]:
def model_1_simple_avg(sq_foot):
    return round(mean_price, -3)
def model_2_avg_ppsf(sq_foot):
    return round(price_per_sq_foot * sq_foot, -3)
def model_3_bin_avg(sq_foot):
    cat = 0 if sq_foot < 1500 else 1 if sq_foot <= 2000 else 2
    return round(group_price[cat], -3)

In [36]:
sq_feet = range(1000, 3500, 500)
models = [model_1_simple_avg, model_2_avg_ppsf, model_3_bin_avg]
data = {model.__name__: map(model, sq_feet) for model in models}
df_predictions = pd.DataFrame(data=data, index=sq_feet)
df_predictions

,model_1_simple_avg,model_2_avg_ppsf,model_3_bin_avg
1000,<map object at 0x00000130A8D8A438>,<map object at 0x00000130A8D8A3C8>,<map object at 0x00000130A8D8A470>
1500,<map object at 0x00000130A8D8A438>,<map object at 0x00000130A8D8A3C8>,<map object at 0x00000130A8D8A470>
2000,<map object at 0x00000130A8D8A438>,<map object at 0x00000130A8D8A3C8>,<map object at 0x00000130A8D8A470>
2500,<map object at 0x00000130A8D8A438>,<map object at 0x00000130A8D8A3C8>,<map object at 0x00000130A8D8A470>
3000,<map object at 0x00000130A8D8A438>,<map object at 0x00000130A8D8A3C8>,<map object at 0x00000130A8D8A470>